in/cbdc_album_v2025.07/xsd_2025.07/cbdc.004.001.01.C2B_2025.07.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cbdc.004.001.01.C2B_2025.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cbdc.004.001.01.C2B_2025.07">
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCBusinessParty13">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCBusinessWalletOwner1Choice1"/>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet43"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCBusinessWalletOwner1Choice1">
		<xs:choice>
			<xs:element name="OrgId" minOccurs="1" maxOccurs="1" type="CBDCOrganisationIdentification1"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBDCC2BInformation13">
		<xs:sequence>
			<xs:element name="TrfAmt" minOccurs="1" maxOccurs="1" type="CBDCOperationAmountNotNull1"/>
			<xs:element name="Cstmr" minOccurs="1" maxOccurs="1" type="CBDCParty33"/>
			<xs:element name="Biz" minOccurs="1" maxOccurs="1" type="CBDCBusinessParty13"/>
			<xs:element name="Intrmy" minOccurs="1" maxOccurs="1" type="CBDCFinancialIntermediaryIdentification1"/>
			<xs:element name="Mrchnt" minOccurs="1" maxOccurs="1" type="CBDCMerchantData2"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCC2BPurpose"/>
			<xs:element name="RmtInf" minOccurs="0" maxOccurs="1" type="CBDCRemittanceInformation2"/>
			<xs:element name="MCC" minOccurs="1" maxOccurs="1" type="CBDCMCCIdentifier"/>
			<xs:element name="PmtLkData" minOccurs="1" maxOccurs="1" type="CBDCPaymentLinkData2"/>
			<xs:element name="IntrmyBiz" minOccurs="1" maxOccurs="1" type="ClearingSystemMemberIdentification21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCC2BPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCClientIdentification11">
		<xs:sequence>
			<xs:element name="PrvtId" minOccurs="1" maxOccurs="1" type="CBDCPrivateIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCCreditorReferenceInformation12">
		<xs:sequence>
			<xs:element name="Tp" minOccurs="1" maxOccurs="1" type="CBDCCreditorReferenceInformationType11"/>
			<xs:element name="Ref" minOccurs="1" maxOccurs="1" type="CBDCReference1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCCreditorReferenceInformationType11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UIP2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCurrencyAndAmountNotNull1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmountNotNull1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmountNotNull1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}"/>
			<xs:minInclusive value="0.01"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDCAccountNumber21">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCDLDigest21">
		<xs:sequence>
			<xs:element name="Rcrd" minOccurs="1" maxOccurs="1" type="CBDCMax64base64Binary"/>
			<xs:element name="Sgn" minOccurs="0" maxOccurs="1" type="CBDCMax64base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{0,3})?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCFinancialIntermediaryIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.ru\.cbrdc\.prt\.(fi|moab)\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCFromToIdentifier3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMCCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMax10base64Binary">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1"/>
			<xs:maxLength value="2500"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMax64base64Binary">
		<xs:restriction base="xs:base64Binary">
			<xs:minLength value="1"/>
			<xs:maxLength value="65536"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMerchantAddress">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMerchantData2">
		<xs:sequence>
			<xs:element name="MrchntNm" minOccurs="1" maxOccurs="1" type="CBDCMerchantName"/>
			<xs:element name="MrchntID" minOccurs="1" maxOccurs="1" type="CBDCMerchantID"/>
			<xs:element name="MrchntAdr" minOccurs="1" maxOccurs="1" type="CBDCMerchantAddress"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMerchantID">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMerchantName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMessageHeader21">
		<xs:sequence>
			<xs:element name="MsgId" minOccurs="1" maxOccurs="1" type="CBDCMessageIdentifier1"/>
			<xs:element name="CreDt" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="Fr" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="To" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMessageIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationAmountNotNull1">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmountNotNull1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCOrganisationIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.org\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCParamsID">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCParty33">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletOwner11"/>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet43"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCPaymentLinkData2">
		<xs:sequence>
			<xs:element name="PmtLkID" minOccurs="1" maxOccurs="1" type="CBDCPaymentLinkID"/>
			<xs:element name="Prmsd" minOccurs="0" maxOccurs="1" type="CBDCParamsID"/>
			<xs:element name="PmtLkTpCd" minOccurs="1" maxOccurs="1" type="CBDCPaymentLinkTypeCode1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCPaymentLinkID">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCPaymentLinkTypeCode1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCPrivateIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.prsn\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCReference1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCRemittanceInformation2">
		<xs:sequence>
			<xs:element name="CdtrRefInf" minOccurs="1" maxOccurs="1" type="CBDCCreditorReferenceInformation12"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet43">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification3"/>
			<xs:element name="DCAcctNb" minOccurs="1" maxOccurs="1" type="CBDCDCAccountNumber21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletIdentification3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.wlt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCWalletOwner11">
		<xs:sequence>
			<xs:element name="ClntId" minOccurs="1" maxOccurs="1" type="CBDCClientIdentification11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBRFNationalBIC">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice1">
		<xs:choice>
			<xs:element name="Cd" minOccurs="1" maxOccurs="1" fixed="RUCBC" type="ExternalClearingSystemIdentification1Code"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification21">
		<xs:sequence>
			<xs:element name="ClrSysId" minOccurs="1" maxOccurs="1" type="ClearingSystemIdentification2Choice1"/>
			<xs:element name="MmbId" minOccurs="1" maxOccurs="1" type="CBRFNationalBIC"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DCTransferC2B">
		<xs:sequence>
			<xs:element name="MsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader21"/>
			<xs:element name="C2BTrfInf" minOccurs="1" maxOccurs="1" type="CBDCC2BInformation13"/>
			<xs:element name="DLDgst" minOccurs="1" maxOccurs="1" type="CBDCDLDigest21"/>
			<xs:element name="FngrPrt" minOccurs="0" maxOccurs="1" type="CBDCMax10base64Binary"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="DCTrfC2B" type="DCTransferC2B"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	</xs:schema>