in/cbdc_album_v2025.07/xsd_2025.07/cbdc.011.001.04_ReturnFIWalletInfo_2024.03.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:cbdc.011.001.04.ReturnFIWalletInfo_2024.03" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cbdc.011.001.04.ReturnFIWalletInfo_2024.03">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountSchemeName1Choice1">
		<xs:choice>
			<xs:element name="Prtry" minOccurs="1" maxOccurs="1" type="CBDCAccountType11"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountType11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EPID"/>
			<xs:enumeration value="BBAN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCBankTransferPartyInformationChoice3">
		<xs:choice>
			<xs:element name="NtlId" minOccurs="1" maxOccurs="1" type="CBDCBankTransferResidentInformation3"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBDCBankTransferResidentInformation3">
		<xs:sequence>
			<xs:element name="Acct" minOccurs="1" maxOccurs="1" type="GenericAccountIdentification11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCClientIdentification14">
		<xs:sequence>
			<xs:element name="Id" minOccurs="0" maxOccurs="1" type="CBDCClientSimpleIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCClientSimpleIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.(prsn|org)\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCurrencyAndAmount1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmount1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmount1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}|[0]"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCurrencyAndAmountNotNull1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmountNotNull1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmountNotNull1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}"/>
			<xs:minInclusive value="0.01"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDCAccountNumber1">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{0,3})?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDateTimePeriod2">
		<xs:sequence>
			<xs:element name="FrDtTm" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="ToDtTm" minOccurs="0" maxOccurs="1" type="CBDCDateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCExchangeDetails22">
		<xs:sequence>
			<xs:element name="PtyInf" minOccurs="0" maxOccurs="1" type="CBDCBankTransferPartyInformationChoice3"/>
			<xs:element name="CtrPty" minOccurs="0" maxOccurs="1" type="CBDCExchangeTransactionParty21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCExchangeTransactionParty21">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletOwner14"/>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet42"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCFromToIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.(fi|prsn|org|iss|moab|mafi|oprt|depo)\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMessageHeader21">
		<xs:sequence>
			<xs:element name="MsgId" minOccurs="1" maxOccurs="1" type="CBDCMessageIdentifier1"/>
			<xs:element name="CreDt" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="Fr" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier1"/>
			<xs:element name="To" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier1"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCMessageHeader22">
		<xs:sequence>
			<xs:element name="MsgId" minOccurs="1" maxOccurs="1" type="CBDCMessageIdentifier1"/>
			<xs:element name="CreDt" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="Fr" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier1"/>
			<xs:element name="To" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier1"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
			<xs:element name="PartInf" minOccurs="0" maxOccurs="1" type="CBDCPartInfo1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMessageIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationAmountNotNull1">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmountNotNull1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCOperationDetails1Choice2">
		<xs:choice>
			<xs:element name="Xchg" minOccurs="1" maxOccurs="1" type="CBDCExchangeDetails22"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationsInformation22">
		<xs:sequence>
			<xs:element name="Tp" minOccurs="1" maxOccurs="1" type="CBDCOperationsType3Code2"/>
			<xs:element name="Amt" minOccurs="1" maxOccurs="1" type="CBDCOperationAmountNotNull1"/>
			<xs:element name="CdtDbtInd" minOccurs="1" maxOccurs="1" type="CreditDebitCode1"/>
			<xs:element name="SttlmDtTm" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
			<xs:element name="OthrDtls" minOccurs="0" maxOccurs="1" type="CBDCOperationDetails1Choice2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationsType3Code2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FIBU"/>
			<xs:enumeration value="FISE"/>
			<xs:enumeration value="DCRF"/>
			<xs:enumeration value="DCBU"/>
			<xs:enumeration value="DCSE"/>
			<xs:enumeration value="OOPN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCPartInfo1">
		<xs:sequence>
			<xs:element name="PartNo" minOccurs="1" maxOccurs="1" type="CBDCPartNo"/>
			<xs:element name="PartQty" minOccurs="1" maxOccurs="1" type="CBDCPartNo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCPartNo">
		<xs:restriction base="xs:string">
			<xs:pattern value="[1-9]\d{0,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCWallet42">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification1"/>
			<xs:element name="DCAcctNb" minOccurs="0" maxOccurs="1" type="CBDCDCAccountNumber1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet44">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification1"/>
			<xs:element name="DCAcctNb" minOccurs="1" maxOccurs="1" type="CBDCDCAccountNumber1"/>
			<xs:element name="Bal" minOccurs="0" maxOccurs="1" type="CBDCWalletBalance11"/>
			<xs:element name="WlltSts" minOccurs="1" maxOccurs="1" type="CBDCWalletStatus2Code2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWalletBalance11">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
			<xs:element name="TtlBlckdAmt" minOccurs="0" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
			<xs:element name="CurBal" minOccurs="0" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletIdentification1">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.wlt\.(clt|fi|iss)\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCWalletInfo42">
		<xs:sequence>
			<xs:element name="WlltPtyInf" minOccurs="1" maxOccurs="1" type="CBDCWallet44"/>
			<xs:element name="Prd" minOccurs="0" maxOccurs="1" type="CBDCDateTimePeriod2"/>
			<xs:element name="OprtnsInf" minOccurs="0" maxOccurs="unbounded" type="CBDCOperationsInformation22"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWalletOwner14">
		<xs:sequence>
			<xs:element name="ClntId" minOccurs="1" maxOccurs="1" type="CBDCClientIdentification14"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletStatus2Code2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTV"/>
			<xs:enumeration value="BLCK"/>
			<xs:enumeration value="SUSP"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CreditDebitCode1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrWlltInf" type="ReturnWalletInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification11">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="Max34Text"/>
			<xs:element name="SchmeNm" minOccurs="1" maxOccurs="1" type="AccountSchemeName1Choice1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max34Text">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ReturnWalletInfo">
		<xs:sequence>
			<xs:element name="MsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader22"/>
			<xs:element name="Rpt" minOccurs="1" maxOccurs="1" type="CBDCWalletInfo42"/>
			<xs:element name="RltdMsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader21"/>
		</xs:sequence>
	</xs:complexType>
	</xs:schema>