in/cbdc_album_v2025.07/xsd_2025.07/cbdc.061.001.01.G2X_2025.07.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:iso:std:iso:20022:tech:xsd:cbdc.061.001.01.G2X_2025.07" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cbdc.061.001.01.G2X_2025.07">
	<xs:element name="Document" type="Document"/>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCBankData1">
		<xs:sequence>
			<xs:element name="Svcr" minOccurs="1" maxOccurs="1" type="ClearingSystemMemberIdentification21"/>
			<xs:element name="SvcrAcct" minOccurs="1" maxOccurs="1" type="GenericAccountIdentification11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCBankData2">
		<xs:sequence>
			<xs:element name="Acct" minOccurs="1" maxOccurs="1" type="GenericAccountIdentification11"/>
			<xs:element name="KPP" minOccurs="1" maxOccurs="1" type="CBDCKPP"/>
			<xs:element name="INN" minOccurs="1" maxOccurs="1" type="CBDCINN1"/>
			<xs:element name="Nm" minOccurs="1" maxOccurs="1" type="CBDCPartyNameRusLatChoice1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCCurrencyAndAmountNotNull1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmountNotNull1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmountNotNull1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}"/>
			<xs:minInclusive value="0.01"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDCAccountNumber21">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{0,3})?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDebtorReferenceInformation11">
		<xs:sequence>
			<xs:element name="Tp" minOccurs="1" maxOccurs="1" type="CBDCDebtorReferenceInformationType11"/>
			<xs:element name="Ref" minOccurs="1" maxOccurs="1" type="CBDCReference1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDebtorReferenceInformationType11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UIP1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCDecReasonCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDigitalCurrencyTransferData21">
		<xs:sequence>
			<xs:element name="DCSndr" minOccurs="1" maxOccurs="1" type="CBDCTransferParty21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCDigitalCurrencyTransferData23">
		<xs:sequence>
			<xs:element name="DCRcpt" minOccurs="1" maxOccurs="1" type="CBDCTransferParty23"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCFromToIdentifier3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCINN1">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCIncomeCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCKPP">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCLineNameRusLat">
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яёА-ЯЁa-zA-Z0-9+\s\.,/\(\)№@\-&quot;&apos;]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="160"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMessageHeader23">
		<xs:sequence>
			<xs:element name="MsgId" minOccurs="1" maxOccurs="1" type="CBDCMessageIdentifier1"/>
			<xs:element name="CreDt" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="Fr" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="To" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMessageIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationAmountNotNull1">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmountNotNull1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCOperationType1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="GTOC"/>
			<xs:enumeration value="GTOB"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCPartyNameRusLatChoice1">
		<xs:choice>
			<xs:element name="LineNm" minOccurs="1" maxOccurs="1" type="CBDCLineNameRusLat"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CBDCReasonCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCRecZKNum">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="10000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCReference1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCRegisterTransferInformation3">
		<xs:sequence>
			<xs:element name="TrfAmt" minOccurs="1" maxOccurs="1" type="CBDCOperationAmountNotNull1"/>
			<xs:element name="OprTp" minOccurs="1" maxOccurs="1" type="CBDCOperationType1"/>
			<xs:element name="DCTrfData" minOccurs="1" maxOccurs="1" type="CBDCDigitalCurrencyTransferData21"/>
			<xs:element name="BkData" minOccurs="1" maxOccurs="1" type="CBDCBankData1"/>
			<xs:element name="RmtInf" minOccurs="0" maxOccurs="1" type="CBDCRemittanceInformation1"/>
			<xs:element name="TrfInf" minOccurs="1" maxOccurs="unbounded" type="CBDCTransferInformation2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCRemittanceInformation1">
		<xs:sequence>
			<xs:element name="DbtrRefInf" minOccurs="1" maxOccurs="1" type="CBDCDebtorReferenceInformation11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCTransferInformation2">
		<xs:sequence>
			<xs:element name="RcOprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
			<xs:element name="RcZKNm" minOccurs="0" maxOccurs="1" type="CBDCRecZKNum"/>
			<xs:element name="TrfAmt" minOccurs="1" maxOccurs="1" type="CBDCOperationAmountNotNull1"/>
			<xs:element name="DCTrfData" minOccurs="1" maxOccurs="1" type="CBDCDigitalCurrencyTransferData23"/>
			<xs:element name="BkData" minOccurs="1" maxOccurs="1" type="CBDCBankData2"/>
			<xs:element name="IncmCd" minOccurs="0" maxOccurs="1" type="CBDCIncomeCode"/>
			<xs:element name="RsnCd" minOccurs="0" maxOccurs="1" type="CBDCReasonCode"/>
			<xs:element name="DcRsnCd" minOccurs="0" maxOccurs="1" type="CBDCDecReasonCode"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCTransferPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCTransferParty21">
		<xs:sequence>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet41"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCTransferParty23">
		<xs:sequence>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet42"/>
			<xs:element name="INN" minOccurs="1" maxOccurs="1" type="CBDCINN1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCTransferPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCWallet41">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet42">
		<xs:sequence>
			<xs:element name="DCAcctNb" minOccurs="1" maxOccurs="1" type="CBDCDCAccountNumber21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletIdentification3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.wlt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBRFAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBRFNationalBIC">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice1">
		<xs:choice>
			<xs:element name="Cd" minOccurs="1" maxOccurs="1" fixed="RUCBC" type="ExternalClearingSystemIdentification1Code"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification21">
		<xs:sequence>
			<xs:element name="ClrSysId" minOccurs="1" maxOccurs="1" type="ClearingSystemIdentification2Choice1"/>
			<xs:element name="MmbId" minOccurs="1" maxOccurs="1" type="CBRFNationalBIC"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DCRegisterTransfer">
		<xs:sequence>
			<xs:element name="MsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader23"/>
			<xs:element name="RegrTrfInf" minOccurs="1" maxOccurs="1" type="CBDCRegisterTransferInformation3"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="DCRegrTrf" type="DCRegisterTransfer"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification11">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBRFAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	</xs:schema>