in/cbdc_album_v2025.07/xsd_2025.07/cbdc.011.001.04.ReturnOrganisationWalletInfo_2025.07.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:cbdc.011.001.04.ReturnOrganisationWalletInfo_2025.07" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:cbdc.011.001.04.ReturnOrganisationWalletInfo_2025.07">
	<xs:element name="Document" type="Document"/>
	<xs:complexType name="AccountSchemeName1Choice1">
		<xs:choice>
			<xs:element name="Prtry" minOccurs="1" maxOccurs="1" type="CBDCAccountType11"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="ActiveCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{20}"/>
			<xs:length value="20"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCAccountType11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EPID"/>
			<xs:enumeration value="BBAN"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCB2BDetails11">
		<xs:sequence>
			<xs:element name="BizCtrPty" minOccurs="1" maxOccurs="1" type="CBDCBusinessParty12"/>
			<xs:element name="Intrmy" minOccurs="0" maxOccurs="1" type="CBDCIntermediary11"/>
			<xs:element name="Purp" minOccurs="1" maxOccurs="1" type="CBDCB2BPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCB2BPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCB2CDetails22">
		<xs:sequence>
			<xs:element name="CstmrCtrPty" minOccurs="1" maxOccurs="1" type="CBDCParty32"/>
			<xs:element name="Intrmy" minOccurs="1" maxOccurs="1" type="CBDCIntermediary11"/>
			<xs:element name="Mrchnt" minOccurs="1" maxOccurs="1" type="CBDCMerchantData1"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCB2CPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCB2CPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCBankTransferPartyInformationChoice2">
		<xs:choice>
			<xs:element name="NtlId" minOccurs="1" maxOccurs="1" type="CBDCBankTransferResidentInformation2"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBDCBankTransferPartyInformationChoice3">
		<xs:choice>
			<xs:element name="NtlId" minOccurs="1" maxOccurs="1" type="CBDCBankTransferResidentInformation3"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="CBDCBankTransferResidentInformation2">
		<xs:sequence>
			<xs:element name="Acct" minOccurs="0" maxOccurs="1" type="GenericAccountIdentification11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCBankTransferResidentInformation3">
		<xs:sequence>
			<xs:element name="Acct" minOccurs="1" maxOccurs="1" type="GenericAccountIdentification11"/>
			<xs:element name="Svcr" minOccurs="1" maxOccurs="1" type="ClearingSystemMemberIdentification22"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCBusinessParty12">
		<xs:sequence>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet43"/>
			<xs:element name="Nm" minOccurs="1" maxOccurs="1" type="CBDCOrgName"/>
			<xs:element name="OGRN" minOccurs="1" maxOccurs="1" type="CBDCOgrn1"/>
			<xs:element name="INN" minOccurs="1" maxOccurs="1" type="CBDCOrgINN1"/>
			<xs:element name="KPP" minOccurs="1" maxOccurs="1" type="CBDCKPP1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCC2BDetails12">
		<xs:sequence>
			<xs:element name="CstmrCtrPty" minOccurs="1" maxOccurs="1" type="CBDCParty32"/>
			<xs:element name="Mrchnt" minOccurs="1" maxOccurs="1" type="CBDCMerchantData2"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCC2BPurpose"/>
			<xs:element name="RmtInf" minOccurs="0" maxOccurs="1" type="CBDCRemittanceInformation1"/>
			<xs:element name="MCC" minOccurs="0" maxOccurs="1" type="CBDCMCCIdentifier"/>
			<xs:element name="PmtLkData" minOccurs="0" maxOccurs="1" type="CBDCPaymentLinkData1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCC2BPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCreditorReferenceInformation11">
		<xs:sequence>
			<xs:element name="Tp" minOccurs="1" maxOccurs="1" type="CBDCCreditorReferenceInformationType11"/>
			<xs:element name="Ref" minOccurs="1" maxOccurs="1" type="CBDCReference1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCCreditorReferenceInformationType11">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UIP2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCurrencyAndAmount1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmount1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmount1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}|[0]"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCCurrencyAndAmountNotNull1">
		<xs:simpleContent>
			<xs:extension base="CBDCCurrencyAndAmountNotNull1_SimpleType">
				<xs:attribute name="Ccy" use="required" type="ActiveCurrencyCode" fixed="RUB"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CBDCCurrencyAndAmountNotNull1_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:pattern value="([0]|([1-9]\d{0,15}))\.\d{1,2}"/>
			<xs:minInclusive value="0.01"/>
			<xs:totalDigits value="18"/>
			<xs:fractionDigits value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDCAccountNumber21">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDateTime">
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{0,3})?Z"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCDateTimePeriod1">
		<xs:sequence>
			<xs:element name="FrDtTm" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="ToDtTm" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCDecReasonCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCExchangeDetails22">
		<xs:sequence>
			<xs:element name="PtyInf" minOccurs="0" maxOccurs="1" type="CBDCBankTransferPartyInformationChoice3"/>
			<xs:element name="Intrmy" minOccurs="1" maxOccurs="1" type="CBDCIntermediary13"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCFIName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCFromToIdentifier3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.prt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCG2XDetails2">
		<xs:sequence>
			<xs:element name="CtrPty" minOccurs="1" maxOccurs="1" type="CBDCWallet43"/>
			<xs:element name="CtrPtyNm" minOccurs="0" maxOccurs="1" type="CBDCPartyNameRusLatChoice1"/>
			<xs:element name="CrrspAcc" minOccurs="0" maxOccurs="1" type="GenericAccountIdentification12"/>
			<xs:element name="CrrspINN" minOccurs="0" maxOccurs="1" type="CBDCINN1"/>
			<xs:element name="CrrspKPP" minOccurs="0" maxOccurs="1" type="CBDCKPP"/>
			<xs:element name="IncmCd" minOccurs="0" maxOccurs="1" type="CBDCIncomeCode"/>
			<xs:element name="RsnCd" minOccurs="0" maxOccurs="1" type="CBDCReasonCode"/>
			<xs:element name="DcRsnCd" minOccurs="0" maxOccurs="1" type="CBDCDecReasonCode"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCTransferPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCINN1">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{1,12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCIncomeCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCIntermediary11">
		<xs:sequence>
			<xs:element name="Nm" minOccurs="1" maxOccurs="1" type="CBDCFIName"/>
			<xs:element name="ClrSysIdr" minOccurs="1" maxOccurs="1" type="ClearingSystemMemberIdentification22"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCIntermediary13">
		<xs:sequence>
			<xs:element name="Nm" minOccurs="1" maxOccurs="1" type="CBDCFIName"/>
			<xs:element name="ClrSysIdr" minOccurs="1" maxOccurs="1" type="ClearingSystemMemberIdentification23"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCKPP">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCKPP1">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{7}"/>
			<xs:length value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCLineNameRusLat">
		<xs:restriction base="xs:string">
			<xs:pattern value="[а-яёА-ЯЁa-zA-Z0-9+\s\.,/\(\)№@\-&quot;&apos;]+"/>
			<xs:minLength value="1"/>
			<xs:maxLength value="160"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMCCIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMerchantData1">
		<xs:sequence>
			<xs:element name="MrchntNm" minOccurs="1" maxOccurs="1" type="CBDCMerchantName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCMerchantData2">
		<xs:sequence>
			<xs:element name="MrchntNm" minOccurs="1" maxOccurs="1" type="CBDCMerchantName"/>
			<xs:element name="MrchntID" minOccurs="0" maxOccurs="1" type="CBDCMerchantID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMerchantID">
		<xs:restriction base="xs:string">
			<xs:length value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCMerchantName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="40"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCMessageHeader21">
		<xs:sequence>
			<xs:element name="MsgId" minOccurs="1" maxOccurs="1" type="CBDCMessageIdentifier1"/>
			<xs:element name="CreDt" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="Fr" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="To" minOccurs="1" maxOccurs="1" type="CBDCFromToIdentifier3"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCMessageIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOPTransferDetails1">
		<xs:sequence>
			<xs:element name="CtrPty" minOccurs="0" maxOccurs="1" type="CBDCOPTransferParty11"/>
			<xs:element name="CtrPtyBD" minOccurs="0" maxOccurs="1" type="CBDCBankTransferPartyInformationChoice2"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCOPTransferPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCOPTransferParty11">
		<xs:sequence>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet43"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCOPTransferPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCOgrn1">
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{13}"/>
			<xs:length value="13"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationAmountNotNull1">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmountNotNull1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCOperationDetails1Choice2">
		<xs:choice>
			<xs:element name="Xchg" minOccurs="1" maxOccurs="1" type="CBDCExchangeDetails22"/>
			<xs:element name="C2B" minOccurs="1" maxOccurs="1" type="CBDCC2BDetails12"/>
			<xs:element name="B2C" minOccurs="1" maxOccurs="1" type="CBDCB2CDetails22"/>
			<xs:element name="B2B" minOccurs="1" maxOccurs="1" type="CBDCB2BDetails11"/>
			<xs:element name="OPTrf" minOccurs="1" maxOccurs="1" type="CBDCOPTransferDetails1"/>
			<xs:element name="X2G" minOccurs="1" maxOccurs="1" type="CBDCX2GDetails2"/>
			<xs:element name="G2X" minOccurs="1" maxOccurs="1" type="CBDCG2XDetails2"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationIdentifier1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCOperationsInformation22">
		<xs:sequence>
			<xs:element name="Tp" minOccurs="1" maxOccurs="1" type="CBDCOperationsType3Code2"/>
			<xs:element name="Amt" minOccurs="1" maxOccurs="1" type="CBDCOperationAmountNotNull1"/>
			<xs:element name="CdtDbtInd" minOccurs="1" maxOccurs="1" type="CreditDebitCode1"/>
			<xs:element name="SttlmDtTm" minOccurs="1" maxOccurs="1" type="CBDCDateTime"/>
			<xs:element name="OprId" minOccurs="1" maxOccurs="1" type="CBDCOperationIdentifier1"/>
			<xs:element name="OthrDtls" minOccurs="0" maxOccurs="1" type="CBDCOperationDetails1Choice2"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCOperationsType3Code2">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DCRF"/>
			<xs:enumeration value="DCBU"/>
			<xs:enumeration value="DCSE"/>
			<xs:enumeration value="CTOB"/>
			<xs:enumeration value="BTOC"/>
			<xs:enumeration value="BTOB"/>
			<xs:enumeration value="OOPN"/>
			<xs:enumeration value="BTOG"/>
			<xs:enumeration value="GTOB"/>
			<xs:enumeration value="OPTR"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCOrgINN1">
		<xs:restriction base="xs:string">
			<xs:pattern value="([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8}"/>
			<xs:length value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCOrgName">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCPAM">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCParamsID">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCParty32">
		<xs:sequence>
			<xs:element name="Wllt" minOccurs="1" maxOccurs="1" type="CBDCWallet42"/>
			<xs:element name="PAM" minOccurs="1" maxOccurs="1" type="CBDCPAM"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCPartyNameRusLatChoice1">
		<xs:choice>
			<xs:element name="LineNm" minOccurs="1" maxOccurs="1" type="CBDCLineNameRusLat"/>
		</xs:choice>
	</xs:complexType>
	<xs:simpleType name="CBDCPaymentID">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCPaymentLinkData1">
		<xs:sequence>
			<xs:element name="PmtLkID" minOccurs="1" maxOccurs="1" type="CBDCPaymentLinkID"/>
			<xs:element name="Prmsd" minOccurs="0" maxOccurs="1" type="CBDCParamsID"/>
			<xs:element name="PmtLkTpCd" minOccurs="1" maxOccurs="1" type="CBDCPaymentLinkTypeCode1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCPaymentLinkID">
		<xs:restriction base="xs:string">
			<xs:length value="32"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCPaymentLinkTypeCode1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
			<xs:enumeration value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCReasonCode">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBDCReference1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCRemittanceInformation1">
		<xs:sequence>
			<xs:element name="CdtrRefInf" minOccurs="1" maxOccurs="1" type="CBDCCreditorReferenceInformation11"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCTransferPurpose">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="210"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCTurnover1">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet41">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification3"/>
			<xs:element name="DCAcctNb" minOccurs="1" maxOccurs="1" type="CBDCDCAccountNumber21"/>
			<xs:element name="Bal" minOccurs="1" maxOccurs="1" type="CBDCWalletBalance11"/>
			<xs:element name="WlltSts" minOccurs="1" maxOccurs="1" type="CBDCWalletStatus2Code1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet42">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification3"/>
			<xs:element name="DCAcctNb" minOccurs="0" maxOccurs="1" type="CBDCDCAccountNumber21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWallet43">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBDCWalletIdentification3"/>
			<xs:element name="DCAcctNb" minOccurs="1" maxOccurs="1" type="CBDCDCAccountNumber21"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWalletBalance11">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
			<xs:element name="TtlBlckdAmt" minOccurs="0" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
			<xs:element name="CurBal" minOccurs="0" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CBDCWalletBalance21">
		<xs:sequence>
			<xs:element name="TtlAmt" minOccurs="1" maxOccurs="1" type="CBDCCurrencyAndAmount1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletIdentification3">
		<xs:restriction base="xs:string">
			<xs:pattern value="g\.[a-z]{2}\.cbrdc\.wlt\.[a-z0-9]{2,5}\.[a-f0-9]{8}-[a-f0-9]{4}-4[a-f0-9]{3}-[89ab][a-f0-9]{3}-[a-f0-9]{12}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCWalletInfo42">
		<xs:sequence>
			<xs:element name="WlltPtyInf" minOccurs="1" maxOccurs="1" type="CBDCWallet41"/>
			<xs:element name="Prd" minOccurs="0" maxOccurs="1" type="CBDCDateTimePeriod1"/>
			<xs:element name="OpngBal" minOccurs="0" maxOccurs="1" type="CBDCWalletBalance21"/>
			<xs:element name="OutgngBal" minOccurs="0" maxOccurs="1" type="CBDCWalletBalance21"/>
			<xs:element name="TtlAmtDbt" minOccurs="0" maxOccurs="1" type="CBDCTurnover1"/>
			<xs:element name="TtlAmtCdt" minOccurs="0" maxOccurs="1" type="CBDCTurnover1"/>
			<xs:element name="OprtnsInf" minOccurs="0" maxOccurs="unbounded" type="CBDCOperationsInformation22"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBDCWalletStatus2Code1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACTV"/>
			<xs:enumeration value="BLCK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CBDCX2GDetails2">
		<xs:sequence>
			<xs:element name="CtrPty" minOccurs="1" maxOccurs="1" type="CBDCWallet42"/>
			<xs:element name="CrrspAcc" minOccurs="0" maxOccurs="1" type="GenericAccountIdentification12"/>
			<xs:element name="CrrspINN" minOccurs="0" maxOccurs="1" type="CBDCINN1"/>
			<xs:element name="CrrspKPP" minOccurs="0" maxOccurs="1" type="CBDCKPP"/>
			<xs:element name="PmtID" minOccurs="0" maxOccurs="1" type="CBDCPaymentID"/>
			<xs:element name="Purp" minOccurs="0" maxOccurs="1" type="CBDCTransferPurpose"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CBRFAccountIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{20}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CBRFNationalBIC">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{9}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ClearingSystemIdentification2Choice1">
		<xs:choice>
			<xs:element name="Cd" minOccurs="1" maxOccurs="1" fixed="RUCBC" type="ExternalClearingSystemIdentification1Code"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification22">
		<xs:sequence>
			<xs:element name="ClrSysId" minOccurs="1" maxOccurs="1" type="ClearingSystemIdentification2Choice1"/>
			<xs:element name="MmbId" minOccurs="1" maxOccurs="1" type="CBRFNationalBIC"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification23">
		<xs:sequence>
			<xs:element name="ClrSysId" minOccurs="0" maxOccurs="1" type="ClearingSystemIdentification2Choice1"/>
			<xs:element name="MmbId" minOccurs="1" maxOccurs="1" type="CBRFNationalBIC"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CreditDebitCode1">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="RtrWlltInf" type="ReturnWalletInfo"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification11">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBRFAccountIdentifier"/>
			<xs:element name="SchmeNm" minOccurs="1" maxOccurs="1" type="AccountSchemeName1Choice1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericAccountIdentification12">
		<xs:sequence>
			<xs:element name="Id" minOccurs="1" maxOccurs="1" type="CBRFAccountIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReturnWalletInfo">
		<xs:sequence>
			<xs:element name="MsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader21"/>
			<xs:element name="Rpt" minOccurs="1" maxOccurs="1" type="CBDCWalletInfo42"/>
			<xs:element name="RltdMsgHdr" minOccurs="1" maxOccurs="1" type="CBDCMessageHeader21"/>
		</xs:sequence>
	</xs:complexType>
	</xs:schema>